[submodule "media/intros"]
	path = media/intros
	url = git@github.com:Revlin/gss-intros.git
[submodule "legacy/netention"]
	path = legacy/netention
	url = git@github.com:automenta/netention.git
[submodule "current/netentionjs2"]
	path = current/netentionjs2
	url = git@github.com:automenta/netentionjs2.git
[submodule "current/uni-sol"]
	path = current/uni-sol
	url = git@github.com:Revlin/uni-sol.git
