[submodule "current/climateviewer"]
	path = current/climateviewer
	url = git@github.com:rezn8d/ClimateViewer-4D.git
[submodule "current/curiosume"]
	path = current/curiosume
	url = git@github.com:Global-Survival/curiosume.git
[submodule "current/can-network"]
	path = current/can-network
	url = git@github.com:Global-Survival/can-network.git
[submodule "current/global-survival"]
	path = current/global-survival
	url = git@github.com:Global-Survival/global-survival.git
[submodule "current/opennars"]
	path = current/opennars
	url = git@github.com:opennars/opennars.git
[submodule "legacy/netention"]
	path = legacy/netention
	url = git@github.com:automenta/netention.git
[submodule "media/intros"]
	path = media/intros
	url = git@github.com:Global-Survival/gss-intros.git
