[submodule "currents/climateviewer"]
	path = currents/climateviewer
	url = git@github.com:rezn8d/ClimateViewer-4D.git
[submodule "currents/curiosume"]
	path = currents/curiosume
	url = git@github.com:Global-Survival/curiosume.git
[submodule "currents/can-network"]
	path = currents/can-network
	url = git@github.com:Global-Survival/can-network.git
[submodule "currents/dunescape3d"]
	path = currents/dunescape3d
	url = git@bitbucket.org:Real-Currents/dunescape3d.git
[submodule "currents/global-survival"]
	path = currents/global-survival
	url = git@github.com:Global-Survival/global-survival.git
[submodule "currents/netmj"]
	path = currents/netmj
	url = git@github.com:Real-Currents/netmj.git
[submodule "currents/opennars"]
	path = currents/opennars
	url = git@github.com:opennars/opennars.git
[submodule "legacy/netention"]
	path = legacy/netention
	url = git@github.com:automenta/netention.git
[submodule "media/intros"]
	path = media/intros
	url = git@github.com:Global-Survival/gss-intros.git
